<!DOCTYPE html>
<html>
<body>
<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/update.css">
   <title>Agg Usuario</title>
</head>
<header>
    <h1>Linea Blanca Express</h1>
    <nav>
      <ul>
        <li><a href="/productos">Volver </a></li>
        
        
      </ul>
    </nav>
   </header>

<main class="forms"> 
 <h1 id="crear">Agregar Usuario</h1>


<form action="/addUser" method="post">


<div id="editorcentrall">


<input type="text" autofocus placeholder="Nombre" name="nombre" required="required" />
<input type="text" placeholder="Apellido" required="required" name="apellido"/>
<input type="number" name="cedula" placeholder="Cédula" required="required">
<input type="email" placeholder="Correo" name="correo" required="required" >
<input type="password" name="password" placeholder="Password" required="required">


	<input type="submit" value="Agregar" id="update">
  <input type="button" value="Volver" onclick="redireccionar()" style="cursor:pointer" >
</div>
</form>
</main>
<script>
  function redireccionar(){ 
    window.location.href='/usuarios';
  }
</script>
</body>
<%- include('footer') -%>
</html>