<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
    <h1>Mi Informacion</h1>
    <ul>
  <li>  Nombre: Magleary</li>
  <li>Apellido: Pereira</li>
  <li>Cedula: 30874279</li>
  <li>Seccion: 1</li>
  <li>Materia: Programacion 3</li>
  </ul>
  </main>
  </body>
</html>
