<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    
    
  <main>
   <h1>Mis Datos Personales</h1>
   <ul>
      <li>Magleary Pereira</li>
      <li>C.i: 30.874.279</li>
      <li>Seccion: 1</li>
      
   </ul>
  </main>

     

  <a href='/login' id='botonProductos'>Admin</a>
  <a href="/clientes" id='botonProductos'>Clientes</a>
   <%- include('footer') -%>
  
</body>

</html>
