<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
            <meta name="description" content="" />
            <meta name="author" content="" />
            <title>Linea Blanca</title>
            <link rel="icon" type="image/x-icon" href="img/lavadora.png" />
           
            <!-- Font Awesome icons (free version)-->
            <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
            <!-- Google fonts-->
            <link rel="preconnect" href="https://fonts.gstatic.com" />
          
            <!-- Core theme CSS (includes Bootstrap)-->
            <link href="css/logincliente.css" rel="stylesheet" />
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        </head>
        <body>
            <!-- Background Video-->
            <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/mp4/bg.mp4" type="video/mp4" /></video>
            <!-- Masthead-->
            <div class="masthead">
                <div class="masthead-content text-white">
                    <div class="container-fluid px-4 px-lg-0">
                        <h1 class="fst-italic lh-1 mb-4">Registrate</h1>

                        
                        <form action="/registroUsuariosPost" method="post">
                            <!-- Email address input-->
                            <div class="row input-group-newsletter">
                                <label>Nombre</label>
                                <div class="col"><input type="text" class="controls" name="nombre" required></div>
                                <label>Apellido</label>
                                <div class="col"><input type="text" class="controls" name="apellido" required></div>
                                <label>Cédula</label>
                                <div class="col"><input type="number" class="controls" name="cedula" required></div>
                                <label >Correo</label>
                                <div class="col"><input class="controls" type="email" placeholder="maght@gmail.com" aria-label="maght@gmail.com" name="email" required /></div>
                                <label>Contraseña</label>
                                <div class="col"><input class="controls" type="password" name="contrasena" required /></div>
                                <br>
                                <br>
                                <br>
                                <div class="g-recaptcha" data-sitekey="6LceTTwpAAAAAEFU5mO29VqC3H328hV15TCH6QWf"></div>
                                <br>
                                <br>
                                <br>
                              
                                <input type="submit" value="registrar">
                                
                               <br>
                               <br>
                               

                                    <p>Inicia sesion</p>
                                    <a href="/loginUsers">Login</a>
                                   </div>
                           
                          
                          
                           
                        </form>
                    </div>
                </div>
            </div>
           
            
            </div>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <!-- * *                               SB Forms JS                               * *-->
            <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
            <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
            <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        </body>
    </html>