

		form{
          
            justify-content: center;
			background-color: white;
			border-radius: 10px;
			color: #999;
			font-size: 0.8em;
			padding: 20px;
			margin: 0 auto;
			width: 300px;
		}

		input, textarea{
            border-radius: 5px;
			border: 0;
			outline: none;

			width: 280px;
		}

		.field{
			border: solid 1px #ccc;
			padding: 10px;


		}

		.field:focus{
			border-color: #18A383;
		}

		.center-content{
			text-align: center;
		}
        .btn{
            
          
            justify-content: center;
            border-radius: 3px;
           
            padding: 20px 15px;
            text-decoration: none;
            text-shadow: 0 1px 0 rgba(255,255,255,0.3);
            box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
        }
        
        .btn-green{
            color: white;
            background-color: #3CC93F;
        }
        .btn-green:hover{
            background-color: #37B839;	
        }
        .btn-green:active{
            background-color: #29962A;
        }
        .center-content{
        text-align: center;
    }


    

    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
       }
       main {
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           align-items: center;
           color: white;
       }
      
       .table{
       margin:50px auto;
       width:90%;
       background:rgb(0,0,0,.7);
       border-radius: 4px;
       font-family: 'Montserrat';
       border-spacing: 0;
       
       box-shadow: 7px 13px 37px #4c58d9 
       }
       table{
        color:white;
        width:100%;
       }
       h1{
           color:rgb(14, 13, 13);
           text-align:center;
           margin-top:50px;
           font-family:Arial, Helvetica, sans-serif;
       }
       td:nth-child(1){
           text-align: center;
           font-weight: bold;
           background-color: #ce9b11 ;
           text-align: center;
           padding: 0;
       }
       
       td:nth-last-child(1), td:nth-last-child(2){
           text-align: center;
           background-color: rgb(145, 145, 145);
       }
       
       th{
           background-color: rgb(0, 0, 0);
           padding: 5px;
           text-align: center;
           border-radius: 2px;
       }
       
       td {
           padding-left: 30px;
           padding: 10px;
       }
       
       tr{
           text-overflow: clip;
       }
       
       tr:nth-child(even){
           background-color: rgb(145, 145, 145);
       }
       
       tr:nth-child(odd){
           background-color: rgb(145, 145, 145);
       }
     
       #add{
        height:5vh;
       }
       header > h1 {
       color: white;
       font-family:'Rubik', sans-serif;
       font-size: 40px;
       }
       header > h1::first-letter{
           color: rgb(196, 147, 13);
           font-weight: 900;
           font-size: 40px;
       
       }
       header{
           width: 100%;
           height: 100px;
           background-color:rgb(0, 0, 0);
           border-bottom: dashed 0px rgb(143, 140, 140);
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 0 20px;
           box-shadow: 7px 14px 16px rgb(75, 75,75, 0.747 );
       
       }
       nav ul {
           width:  100%;
           display: flex;
           justify-content: space-around;
           align-items: center;
         }
         
         nav ul li {
           list-style: none;
         }
         
         nav ul li a {
           padding: 10px 20px;
           color: white;
           text-transform: uppercase;
           text-decoration: none;
           font-size: 14px;
           font-family: "Montserrat";
         }
         nav ul li a:hover {
           border-bottom:solid 1.5px white;
         }
        
         @font-face {
           font-family: "Rubik";
           src: url("/fonts/Rubik.ttf");
         }
         
         @font-face{
           font-family: "Montserrat";
           src: url("/fonts/Montserrat.ttf");
         }
