body{
	background-image: url('/img/fin.jpg');
	width: 150%;
   
}


h1{
    margin: auto;
    font-size: 36;
    font-weight: bold;
    color: #000000;
    text-align: center;   
}



fieldset{
    border: 15px;
    font-size: 17px;
    
    
}



table
{
    margin: 0 auto;
}
table,

    th,
    td{
        border: 3px #7e7a7a;
    }
    :-moz-submit-invalid
    {
    margin: 0 auto;
    }
    .form-register h2
    {
     font-size: 25px
     
   
    }
    .form-register
    {
    
     width: 400px;
     background: 7px 13px 37px#545b63; 
     padding: 30px;
     margin: auto;
     margin-top: 150px;
     border-radius: 20px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: #ffffff;
     box-shadow: 7px 13px 37px #214174 ;
     text-shadow: 0 1px  #969393;

    }
    .form-register h2
    {
        margin-bottom: 22px;
        margin: 0 auto ;
    }
    .controls
    {
     width: 94%;
     background: #cacab2;
     padding: 10px;
     border-radius: 6px;
     margin-bottom: 9px;
     border: 1px solid #f9fafce3;
     font-family:'calibri';
     color: #111;
     font-size: 15px;
   
     
    }
    select{
        width: 100%;
        background: #ffd1d1;
        padding: 10px;
        border-radius: 6px;
        margin-bottom: 9px;
        border: 1px solid #f9fafce3;
        font-family:'calibri';
        color: #7e7a7a;
        font-size: 15px;
    }
    
    
    

    .form-register .button
    {
      width: 100%;
      background-color: #aca6a6;
      border: 2px;
      border-radius: 3px;
      padding: 10px;
      color: #000000;
      margin: 10px 0;
      font-size: 16px;

    }




    
	
	
	
	
	
		
	
